<p id="notice"><%= notice %></p>

<div class="pull-right">
  <%= link_to 'New Blog post', new_blog_post_path, class: "btn btn-default" %>
</div>

<h4>Welcome <%= current_user.username %>!</h4>

<h1>All Blog Posts</h1>

<div class="row">
  <% @blog_posts.each do |blog_post| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= link_to blog_post.title, blog_post %></h3>
        </div>
        <div class="panel-body">
        <h5><strong>by <%= blog_post.user.username %></strong></h5>
          <p><small><em>Created <%= time_ago_in_words(blog_post.created_at) %> ago</em></small></p>

          <p><%= blog_post.blog_entry[0..250] %>... <%= link_to "[ READ MORE ]", blog_post %></p>
        </div>
        <div class="panel-footer">
          <%= link_to edit_blog_post_path(blog_post), class: "btn btn-sm btn-hover btn-danger" do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
          <%= link_to blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-hover btn-danger" do %>
              <i class='glyphicon glyphicon-trash'></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
