<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= @blog_post.title %></h3>
  </div>
  <div class="panel-body">
  <p></p>
  by <strong<<%= @blog_post.user.username %></strong>
    <p><small><em>Created <%= time_ago_in_words(@blog_post.created_at) %> ago</small></em></p>
    <p><%= @blog_post.blog_entry %></p>
  </div>
  <div class="panel-footer">
    <%= link_to edit_blog_post_path(@blog_post), class: "btn btn-sm btn-hover btn-danger" do %>
      <i class="glyphicon glyphicon-pencil"></i>
    <% end %>
    <%= link_to @blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-hover btn-danger" do %>
        <i class='glyphicon glyphicon-trash'></i>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><strong>Post a Comment</strong></h4>
  </div>
  <div class="panel-body">
    <%= render 'comments/form' %>
  </div>
</div>

<% if @blog_post.comments.presence %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><strong>Comments</strong></h4>
    </div>
    <% @blog_post.comments.each do |comment| %>
      <div class="panel-body">
        <p><strong><%= comment.user.username %></strong> said:</p>
        <p><%= comment.comment_entry %></p>
        <p><small><em>Created <%= time_ago_in_words(comment.created_at) %> ago</em></small></p>
        <p>
          <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-hover btn-danger" do %>
            <i class='glyphicon glyphicon-trash'></i>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>

<div class="pull-right">
  <%= link_to 'Back to All Posts', root_path, class: "btn btn-default" %>
  <%= link_to 'New Post', new_blog_post_path, class: 'btn btn-default' %>
</div>
